<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un élève</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="sidebar">
    <h2>Mon Etab</h2>
    <hr>
    <ul>
        <li>
            <a th:href="@{/Dashboard}"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
        </li>
        <li >
            <a th:href="@{/Eleve}"><i class="fas fa-user-graduate"></i> Élèves</a>
        </li>
        <li>
            <a href="professeurs.html"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a>
        </li>
        <li>
            <a href="professeurs.html"><i class="fas fa-chalkboard-teacher"></i> Utilisateur</a>
        </li>
        <li class="active">
            <a th:href="@{/Rapport}"><i class="fas fa-chart-line"></i> Rapport</a>
        </li>
    </ul>
    <hr style="margin-top:270px;">
    <ul>
        <li>
            <a th:href="@{/Index}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </li>
    </ul>
</div>

<div class="content">
    <div class="back-button" style="justify-content: flex-end;" >
        <a th:href="@{/Students}"><i class="fas fa-arrow-left"></i> Retour</a>
    </div>

    <div class="form-container">
        <h1>Rapport</h1>

        <div class="form-group">
            <label for="classe">Sélectionner une option</label>
            <select id="classe" name="classe">
                <option value="6eme" disabled selected>Selectionnez une option</option>
                <option value="6eme">Listes des élèves </option>
                <option value="5eme">Listes des professeurs</option>
                <option value="4eme">Listes des Utilisateurs</option>
            </select>
        </div>

        <div class="form-actions">
            <button class="btn-cancel" onclick="confirmCancel()">Générer en format pdf</button>
            <button class="btn-save">Générer en format Excel</button>
        </div>
    </div>
</div>
</body>
</html>
